.App {
  text-align: center;
}

.p-button-icon-only{
  background-color: chocolate;
}

.p-datatable{
  font-weight: 500;
  font-size: medium;
}

.p-datatable .p-datatable-thead > tr > th {
  font-size: 800;
}



